<div class="container">
  <h1 class="text-warning">Save any kind of movies</h1>
  <h3 class="mt-5">My Lists</h3>
    <%= link_to "Create a movie list", new_list_path %>
<br><br><br>
    <% @lists.each do |list| %>
      <ul>
        <li><%= link_to list.name, list_path(list), class:"text-black"%></li>
      </ul>
    <% end %>
</div>
